*{
    margin: 0;
    padding: 0;
}

.card {
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.btn {
    background-color: rgb(250, 145, 163);
    border-color: rgb(250, 145, 163);
}

.btn:hover {
    background-color: rgb(245, 125, 145);
    border-color: rgb(245, 125, 145);
}

footer {
    background: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
}
.bi {
    margin-right: 15px;
    padding: 10px;
}